table,th,td
      {
        border:3px solid black;
        font-weight: bold;
        text-align:center;
      }
      td:nth-child(1)
    {
      background-color: rgb(40, 155, 201);
      color:white ;

    }
    td:nth-child(2)
    {
      background-color: rgb(238, 185, 11);
    
    }
       th
      {
    
        background: grey;
      }
    
      .tbPos {
          margin-top: 40px;
          margin-left: 20px;
          margin-right: 20px;

      }
      
      .header {
        border-bottom: 1.5px solid #000;
        padding: 30px;
        background: linear-gradient(to bottom, #013567, #0195FA 50%); 
        
        text-align: center;

      }

      /*formatting for cells */
      .vGood {
        background-color: #0f0;
    }
    
    .good {
        background-color: #0c0;
    }
    
    .avg {
        background-color: rgb(236, 221, 11);
    }
    
    .poor {
        background-color: rgba(236, 130, 9, 0.938);
    }
    
    .vPoor {
        background-color: #f00;
    }

    /*button */
    .myButton {
      box-shadow:inset 0px 0px 14px -3px #f2fadc;
      background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
      background-color:#dbe6c4;
      border-radius:6px;
      border:1px solid #b2b8ad;
      display:inline-block;
      cursor:pointer;
      color:#757d6f;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ced9bf;
    }
    .myButton:hover {
      background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
      background-color:#9ba892;
    }
    .myButton:active {
      position:relative;
      top:1px;
    }

/* Team Logos */
.atl {
  text-indent: -9999px;
  background: url('https://imgur.com/gbRtOAF') no-repeat;
}