* {
  margin: 0;
  padding: 0;
}
thead {
  background-color: #1493ff;
  color: #fff;
}
.container-fluid {
  margin: 0 15px;
}

.main-header {
  text-align: center;
  font-size: 3.5rem;
  color: #1493ff;
}

.main-table {
  margin-top: 5%;
}

.header-player {
  width: 14%;
}

.game {
  width: 5px;
}

.hide {
  display: none;
}

#games {
  margin-top: 35px;
  text-align: center;
  line-height: 1.5;
  
}

#games button {
  margin: 0 10px 0 10px;
  padding: 25px;
}

.table {
  margin-top: 5px;
}

#playerSearch {
  border: 2px solid #000;
}






/* Team and Opponent images */

.ATL {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/atlanta-hawks-logo@logotyp.us.svg") no-repeat;
}

.BOS {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/boston-celtics-logo@logotyp.us.svg") no-repeat;
}

.BKN {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/brooklyn-nets-logo@logotyp.us.svg") no-repeat;
}

.CHA {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/charlotte-hornets-logo@logotyp.us.svg") no-repeat;
}

.CHI {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/chicago-bulls-logo@logotyp.us.svg") no-repeat;
}

.CLE {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/cleveland-cavaliers-logo@logotyp.us.svg") no-repeat;
}

.DAL {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/dallas-mavericks-logo@logotyp.us.svg") no-repeat;
}

.DEN {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/denver-nuggets-logo@logotyp.us.svg") no-repeat;
}

.DET {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/detroit-pistons-logo@logotyp.us.svg") no-repeat;
}

.GSW {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/warriors-logo@logotyp.us.svg") no-repeat;
}

.HOU {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/houston-rockets-logo@logotyp.us.svg") no-repeat;
}

.IND {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/indiana-pacers-logo@logotyp.us.svg") no-repeat;
}

.LAC {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/la-clippers-logo@logotyp.us.svg") no-repeat;
}

.LAL {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/la-lakers-logo@logotyp.us.svg") no-repeat;
}

.MEM {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/memphis-grizzlies-logo@logotyp.us.svg") no-repeat;
}

.MIA {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/miami-heat-logo@logotyp.us.svg") no-repeat;
}

.MIL {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/milwaukee-bucks-logo@logotyp.us.svg") no-repeat;
}

.MIN {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/timberwolves-logo@logotyp.us.svg") no-repeat;
}

.NOP {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/pelicans-logo@logotyp.us.svg") no-repeat;
}

.NYK {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/new-york-knicks-logo@logotyp.us.svg") no-repeat;
}

.OKC {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/okc-thunder-logo@logotyp.us.svg") no-repeat;
}

.ORL {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/okc-thunder-logo@logotyp.us.svg") no-repeat;
}

.PHI {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/76ers-logo@logotyp.us.svg") no-repeat;
}

.PHX {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/phoenix-suns-logo@logotyp.us.svg") no-repeat;
}

.POR {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/portland-trail-blazers-logo@logotyp.us.svg")
    no-repeat;
}

.SAC {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/sacramento-kings-logo@logotyp.us.svg") no-repeat;
}

.SAS {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/spurs-logo@logotyp.us.svg") no-repeat;
}

.TOR {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/toronto-raptors-logo@logotyp.us.svg") no-repeat;
}

.UTA {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/utah-jazz-logo@logotyp.us.svg") no-repeat;
}

.WAS {
  text-indent: -9999px;
  text-align: center;
  background: url("/images/washington-wizards-logo@logotyp.us.svg") no-repeat;
}



/* SALARY CONDITIONAL FORMATTING */
.high {
    background-color: #FFC7Ce;
}

.medHigh {
    background-color: #F1A16D;
}

.med {
    background-color: #FBC669;
}

.medLow {
    background-color: #9DC67B ;
}

.low {
    background-color: #57BB8A;
}



.teamOne {
  height: 50px;
  width: 50px;
  
}
.teamTwo {
  height: 50px;
  width: 50px;
  
}
.teamThree {
  height: 50px;
  width: 50px;
  background-color: darkgrey;
  
}
.teamFour {
  height: 50px;
  width: 50px;
  background-color: darkgrey;
  
}

#match1, #match2 {
  display: inline-table;
}