#matchups {
    margin-bottom: 150px;
}
#matchup_table {
    display: none;
}

#page_links {
    margin-top: 50px;
    margin-bottom: 50px;
}

#projectionToggle {
    display: none;
}
#games p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2rem;
}

.gameOne, .gameTwo, .gameThree, .gameFour, .gameFive, .gameSix, .gameSeven, .gameEight, .gameNine, .gameTen, .gameEleven, .gameTwelve, .gameThirteen, .gameFourteen, .gameFifteen {
    height: 100%;
    width: 10%;
    display: inline-block;
    margin: 5px;
    border: 2px solid dodgerblue;
    /* display: none; */
}

.hide {
    display: none;
}

#positions {
    text-align: center;
    
}
#positions button {
    margin: 0 15px;
    font-size: 2rem;
}

.pgp {
    background: gold;
}
.sgp {
    background-color: lightgreen;
}

.sfp {
    background-color: lightpink;
}

.pfp {
    background-color: lightslategray;
}

.cp {
    background-color: limegreen;
}






.ATL {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/atlanta-hawks-logo@logotyp.us.svg") no-repeat;
  }
  
  .BOS {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/boston-celtics-logo@logotyp.us.svg") no-repeat;
  }
  
  .BKN {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/brooklyn-nets-logo@logotyp.us.svg") no-repeat;
  }
  
  .CHA {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/charlotte-hornets-logo@logotyp.us.svg") no-repeat;
  }
  
  .CHI {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/chicago-bulls-logo@logotyp.us.svg") no-repeat;
  }
  
  .CLE {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/cleveland-cavaliers-logo@logotyp.us.svg") no-repeat;
  }
  
  .DAL {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/dallas-mavericks-logo@logotyp.us.svg") no-repeat;
  }
  
  .DEN {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/denver-nuggets-logo@logotyp.us.svg") no-repeat;
  }
  
  .DET {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/detroit-pistons-logo@logotyp.us.svg") no-repeat;
  }
  
  .GS {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/warriors-logo@logotyp.us.svg") no-repeat;
  }
  
  .HOU {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/houston-rockets-logo@logotyp.us.svg") no-repeat;
  }
  
  .IND {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/indiana-pacers-logo@logotyp.us.svg") no-repeat;
  }
  
  .LAC {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/la-clippers-logo@logotyp.us.svg") no-repeat;
  }
  
  .LAL {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/la-lakers-logo@logotyp.us.svg") no-repeat;
  }
  
  .MEM {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/memphis-grizzlies-logo@logotyp.us.svg") no-repeat;
  }
  
  .MIA {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/miami-heat-logo@logotyp.us.svg") no-repeat;
  }
  
  .MIL {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/milwaukee-bucks-logo@logotyp.us.svg") no-repeat;
  }
  
  .MIN {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/timberwolves-logo@logotyp.us.svg") no-repeat;
  }
  
  .NO {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/pelicans-logo@logotyp.us.svg") no-repeat;
  }
  
  .NY {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/new-york-knicks-logo@logotyp.us.svg") no-repeat;
  }
  
  .OKC {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/okc-thunder-logo@logotyp.us.svg") no-repeat;
  }
  
  .ORL {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/orlando-magic.svg") no-repeat;
  }
  
  .PHI {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/76ers-logo@logotyp.us.svg") no-repeat;
  }
  
  .PHO {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/phoenix-suns-logo@logotyp.us.svg") no-repeat;
  }
  
  .POR {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/portland-trail-blazers-logo@logotyp.us.svg")
      no-repeat;
  }
  
  .SAC {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/sacramento-kings-logo@logotyp.us.svg") no-repeat;
  }
  
  .SA, .SAS {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/spurs-logo@logotyp.us.svg") no-repeat;
  }
  
  .TOR {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/toronto-raptors-logo@logotyp.us.svg") no-repeat;
  }
  
  .UTA {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/utah-jazz-logo@logotyp.us.svg") no-repeat;
  }
  
  .WAS {
    text-indent: -9999px;
    text-align: center;
    background: url("/images/washington-wizards-logo@logotyp.us.svg") no-repeat;
  }
  